            <!--aqui-->
            <script type='text/javascript'>
           
            function validateFiles(inputFile) {
              var maxExceededMessage = "El Archivo excede el limite pérmitido (60 KB)";
              var extErrorMessage = "Solo se aceptan extenciones: .jpg, .jpeg, .gif or .png ";
              var allowedExtension = ["jpg", "jpeg", "gif", "png"];
             
              var extName;
              var maxFileSize = $(inputFile).data('max-file-size');
              var sizeExceeded = false;
              var extError = false;
             
              $.each(inputFile.files, function() {
                if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
                extName = this.name.split('.').pop();
                if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
              });
              if (sizeExceeded) {
                window.alert(maxExceededMessage);
                $(inputFile).val('');
              };
             
              if (extError) {
                window.alert(extErrorMessage);
                $(inputFile).val('');
              };
            }
            function validateStrings(text) {
              var maxExceededMessage = "El texto no debe exceder los 17 caracteres el texto es de:" + text.value.length + "caracteres" ;
              
              //var maxSize = $(text).data('max-file-size');
              var maxSize = 17;
              var sizeExceeded = false;
              var extError = false;

             
           
                if (text.value.length && maxSize && text.value.length > parseInt(maxSize)) {sizeExceeded=true;};
             
                
              if (sizeExceeded) {
                window.alert(maxExceededMessage);
                //$(text).val('');
              };
             
            }
            </script>
            <!-- aqui-->

<%= form_for(@perk) do |f| %>
  <% if @perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
      <% @perk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title ,:onchange =>"validateStrings(this);",:data => {:max_file_size => 17}%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description ,:onchange =>"validateStrings(this);",:data => {:max_file_size => 57} %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, :step => 0.01%>
  </div>
  <div class="field">
    <%#= f.label :project_id %><br>
    <%= f.hidden_field :project_id , value: @project.id %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.file_field :image_id ,:onchange =>"validateFiles(this);",:data => {:max_file_size => 60.kilobytes} %>
    <%# unless :image_id.nil? %>
      <p><%#= perk.image.image_url %></p>
    <%# end %> 
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br>
    <% gallery_array = Gallery.where("project_id = ?",@project).map { |city| [city.title, city.id] } %>
    <%= select_tag("gallery_id",options_for_select(gallery_array) ) %>
    <%#= select("perk", "gallery_id", Gallery.all.collect {|p| [ p.title, p.id ] }, {include_blank: 'Seleccione uno'}) %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "boton" %>
  </div>
<% end %>
