<%= form_for(@perk) do |f| %>
  <% if @perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
      <% @perk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%#= f.label :project_id %><br>
    <%= f.hidden_field :project_id , value: @project.id %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.file_field :image_id %>
    <%# unless :image_id.nil? %>
      <p><%#= perk.image.image_url %></p>
    <%# end %> 
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br>
    <% gallery_array = Gallery.where("project_id = ?",@project).map { |city| [city.title, city.id] } %>
    <%= select_tag("gallery_id",options_for_select(gallery_array) ) %>
    <%#= select("perk", "gallery_id", Gallery.all.collect {|p| [ p.title, p.id ] }, {include_blank: 'Seleccione uno'}) %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "boton" %>
  </div>
<% end %>
