
 <% @perks.each do |perk| %>
<div class="perks">
	<div class="nombre">
		<%= perk.title %>
	</div>
	<div class="descripcion">
		<p><strong>Descripción:</strong></p>
		<p><%= perk.description %></p>
		</br>
		<p><%= perk.price %></p>
		</br>
	</div>
</div>

        <td><%= perk.pieces %></td>
        <td><%= perk.image_id %></td>
        
     
    <% end %>