<p id="notice"><%= notice %></p>

<div class="show_perks">
  <div class="titulo"><%= @perk.title %></div>
  <div class="contenedor">
    <div class="datos">
      <p><strong>Precio: </strong><%= @perk.price %></p>
      <p><strong>No. Piezas: </strong><%= @perk.pieces %>
      <p><strong>Fecha de envío: </strong><%= @perk.delivery_date %></p>
      <div class="descripcion"><strong>Descripción:</strong><p><%= @perk.description %></p></div>
    </div>    
    <div class="imagen"><img></div>    
  </div>
  
</div>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', home_path %>