<%= form_for(@funder) do |f| %>
  <% if @funder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funder.errors.count, "error") %> prohibited this funder from being saved:</h2>

      <ul>
      <% @funder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :perk_id %><br>
    <%= f.hidden_field :perk_id %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "boton" %>
  </div>
<% end %>
