<%= render partial: '/projects/menu', locals: {project: @project} %>
<br/ ><br/ >
<h1>Listado de Actualizaciones</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amends.each do |amend| %>
      <tr>
        <td><%= amend.description %></td>
        <% unless amend.image.image_url.blank? || amend.image.image_url.nil? || amend.image.image_url.empty? %>
          <td> <img src="<%= amend.image.image_url %>" height="50" width="50"></td>
        <% else %>
          <td> <p>sin imagen</p></td>
        <%end%>
        
        <td><%= link_to 'Show', amend %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Actualización', "/amends/new/" + @project.id.to_s %>