<%= render partial: '/projects/menu', locals: {project: @project} %>
<br/ ><br/ >
<h1>Listing amends</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Project</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amends.each do |amend| %>
      <tr>
        <td><%= amend.user_id %></td>
        <td><%= amend.description %></td>
        <td><%= amend.project_id %></td>
        <td><%= amend.image_id %></td>
        <td><%= link_to 'Show', amend %></td>
        <td><%= link_to 'Edit', edit_amend_path(amend) %></td>
        <td><%= link_to 'Destroy', amend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amend', "/amends/new/" + @project.id.to_s %>