<div class="project_menu">
	<ul>
		<li><%=link_to "About", "/projects/#{@project.id}"%></li>
		<li><%=link_to "Update","/projects/amends/#{@project.id}" %></li>
		<li><%=link_to "Comments","/projects/comments/#{@project.id}" %></li>
		<li><%=link_to "Founders","/projects/funders/#{@project.id}"%></li>
		<li><%=link_to "Gallery","/projects/galleries/#{@project.id}" %></li>
	</ul>				
</div>