<% unless  @project 
	@project = @project2

end %>

<div class="project_menu">
	<ul>
		<li><%=link_to "Nosotros", "/projects/#{@project.id}"%></li>
		<li><%=link_to "Actualizaciones","/projects/amends/#{@project.id}" %></li>
		<li><%=link_to "Comentarios","/projects/comments/#{@project.id}" %></li>
		<li><%=link_to "Socios","/projects/funders/#{@project.id}"%></li>
		<li><%=link_to "Galeria","/projects/galleries/#{@project.id}" %></li>
	</ul>				
</div>