<p id="notice"><%= notice %></p>

<%= render partial: '/projects/menu', locals: {project: @project} %>

	<% if @permiso %>
        <td><%= link_to 'Editar', edit_project_path(@project) %></td>
        <td><%= link_to 'Agregar Perk', '/perks/new/' + @project.id.to_s %></td>
    <% end %>
    <% if @iam && @limpio %>
        <td><%= link_to 'Borrar proyecto', @project, method: :delete, data: { confirm: 'estas seguro?' } %></td>
    <% end %>
	<div class="show_proyects">
		<div class="titulo">
			 <strong>Nombre del proyecto: </strong><%= @project.name %>
		</div>
		<div class="datos">
			 <p><strong>Monetary goal: </strong><%= @project.monetary_goal %></p>
			 <p><strong>Init date: </strong><%= @project.init_date %></p>
			 <p><strong>Finish date: </strong><%= @project.finish_date %></p>
		</div>
		<% unless @image.nil? %>
			<img src="<%= @image.image_url %>">
		<% end %>
	</div>

<%= render partial: '/projects/status', locals: {project: @project} %>
<%= render partial: '/perks/perks', locals: {perk: @perk}  %>


<%#= link_to 'Edit', edit_project_path(@project) %> 
<%#= link_to 'Back', projects_path %>
