<p id="notice"><%= notice %></p>


	<div class="show_proyects">
		<div class="titulo">
			 <strong>Nombre del proyecto: </strong><%= @project.name %>
		</div>
		<div class="datos">
			 <p><strong>Monetary goal: </strong><%= @project.monetary_goal %></p>
			 <p><strong>Init date: </strong><%= @project.init_date %></p>
			 <p><strong>Finish date: </strong><%= @project.finish_date %></p>
		</div>
		<img src="<%= @image.image_url %>">
	</div>

	<%= render partial: '/projects/status', locals: {project: @project} %>
	<%= render partial: '/perks/perks', locals: {project: @perk}  %>


<%#= link_to 'Edit', edit_project_path(@project) %> |
<%#= link_to 'Back', projects_path %>
